<po-page-default p-title="Garantia" [p-actions]="actions" [p-breadcrumb]="breadcrumb">
    <div style="display: flex; justify-content: flex-end;">
            <button class="notification button button2" (click)="onClicknotiFy()">
              <span class="badge">{{notifyNumber}}</span>
              <img src="../../assets/bell.png" height="30">
            </button>
    </div>
    <po-page-dynamic-table
        [p-auto-router]='true'
        [p-concat-filters]='true'
        [p-keep-filters]='true'
        p-title="Meus Chamados"
        [p-table-custom-actions]="tableCustomActions"
        [p-quick-search-width]="quickSearchWidth"
        [p-service-api]="serviceApi"
        [p-load]="onLoad.bind(this)"
    ></po-page-dynamic-table>

    <po-modal #poModal p-title="Detalhes do Chamado">
        <po-dynamic-view [p-fields]="fields" [p-value]="employee"></po-dynamic-view>
        
        <div class="mt-15">
            <po-textarea
                [p-disabled]="true" 
                [(ngModel)]="obsatendente" 
                name="obsatendente" 
                p-label="Histórico de atendimento">
            </po-textarea>

            <po-textarea 
                [p-disabled]="false" 
                [(ngModel)]="obscliente" 
                name="obscliente" 
                p-label="Interagir com atendente">
            </po-textarea>
        </div>

        <form class="mt-15" enctype="multipart/data">
            <div class="btnSelec">
              <label for="file">Enviar outras imagens</label>
            </div>
            <div class="list">
              <ul><div [innerHTML]="inputImg"></div></ul>
              <po-button class="mt-15" *ngIf="!!inputImg" p-label='Limpar Imagens' (p-click)="clearImg()"></po-button>
            </div>
            
            <input type="file" id="file" accept="image/*" hidden multiple (change)="onSelectNewFile($any($event.target).files)">
        </form>

        <po-modal-footer>
            <po-button p-label="Fechar" (p-click)="poModal.close()"></po-button>
            <po-button [p-disable]="!obscliente" p-label="Interagir" p-kind="primary" (p-click)="interageCliente()"></po-button>
          </po-modal-footer>
    </po-modal>

</po-page-default>

<po-modal #userDetailProduto p-title="Detalhes da Nota">
    <po-dynamic-view p-size="lg" [p-fields]="detailFields" [p-value]="detailedProduto"> </po-dynamic-view>
</po-modal>



<style>
    .notification {
      text-decoration: none;
      position: relative;
      display: inline-block;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .notification .badge {
      position: absolute;
      top: -2px;
      right: -8px;
      padding: 2.5px 6px;
      border-radius: 50%;
      background-color: tomato;
      color: white;
      font-size: 10px;
    }

    .button {
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    .button2 {
      background-color: transparent;
      color: black; 
      border: 0px solid #008CBA;
    }
</style>